body,html {
	background-image: url("http://request.paramoreband.net/mediabase/images/bg.png");
	background-color: rgb(245,245,245);
	text-align: center;
	margin: 0px; }
 
.radiostations select {
	background: transparent;
	width: 285px;
	padding: 5px;
	font: 300 16px 'Oswald',sans-serif;
	border: 0;
	border-radius: 0;
	height: 35px;
	-webkit-appearance: none; }
 
.radiostations {
	width: 285px;
	height: 35px;
	overflow: hidden;
	background: url(images/down_arrow_select.jpg) no-repeat right #ddd;
	border: 1px solid #ccc;
	-webkit-box-shadow: 1px 1px 3px rgba(50,50,50,0.75);
	-moz-box-shadow: 1px 1px 3px rgba(50,50,50,0.75);
	box-shadow: 1px 1px 3px rgba(50,50,50,0.75);
	margin-left: auto;
	margin-right: auto; }

.radiostations optgroup {
	font: 300 16px 'Oswald',sans-serif;
}
 
button {
	border: solid 1px #0A7CFF;
	background: url(images/twitter-bird-dark-bgs.png) no-repeat left #4099FF;
	padding: 3px 5px 3px 35px;
	margin: 0 0 20px;
	font: 300 9px 'Oswald',sans-serif;
	font-size: 1.2em;
	color: #f5f5f5;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 1px 1px 3px rgba(50,50,50,0.75);
	-moz-box-shadow: 1px 1px 3px rgba(50,50,50,0.75);
	box-shadow: 1px 1px 3px rgba(50,50,50,0.75); }
 
	button:hover {
		background-color: #0A7CEF;
		border: solid 1px #0A7CFF; }
 
	button:active {
		background-color: #005BB6;
		border: solid 1px #005BB6; }
		
#options {
	width: 620px;
	text-align: right;
	padding: 5px;
	margin: 10px auto 10px;
	font: 300 20px/15px 'Oswald',sans-serif; }
 
	#options a {
		text-decoration: none;
		font: 300 20px/15px 'Oswald',sans-serif;
		color: #F56900; }
		#options a:hover { color: #033 }
 
#acc {
	width: 620px;
	list-style: none;
	color: #033;
	margin: auto; 
	padding: 0;
}
 
	#acc h3 {
		width: 606px;
		text-align: center;
		border: 1px solid #F56900;
		font-size: 15px;
		text-transform: uppercase;
		padding: 5px 6px 5px 6px;
		margin-top: 5px;
		margin-bottom: 0px;
		cursor: pointer;
		background: #F56900;
		color: #FFF;
		font: 300 16px/15px 'Oswald',sans-serif;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		box-shadow: 0px 1px 2px #888888; }
 
		#acc h3:hover { background: #252525; }
 
	#acc .acc-section {
		overflow: hidden;
		background: #fff; }
 
	#acc .acc-content {
		width: 588px;
		padding: 15px;
		border: 1px solid #F56900;
		border-top: none;
		background: #fff;
		color: black; }
	#acc .acc-content p {
		font-size: 9pt;
		font-family: Arial,Verdana,sans-serif;
		line-height: 1.4;
		margin: 0;
		padding: 0;
		text-decoration: none;
		text-align: left; }
